/*  */

.comment {
  width:40%;
  left:20%;
   background: white;
  padding: 2em;
  border-radius: .3em;
  box-shadow: 0 .5em 1em hsla(0, 0%, 0%, .2);
  line-height: 1.3em;
  color: #333;
  margin-bottom: 20px;
}

.comment .header {
  font-size: .6em;
  margin-bottom: 1em;
}

.comment .header h1 {
  font-weight: 300;
  color: #555;
  

margin-bottom: -.2em;
}

.comment .header sub {
  color: #999;
  font-weight: 700;
}

.comment .avatar {
  border-radius: 50%;
  overflow: hidden;
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */ 
   float: left;
   box-shadow: 0 0 .4em rgba(0, 0, 0, .2);
}

.comment p {
  
 
margin: 0;
}

.comment p + p {
  margin-top: 1em;
}

