<app-scroll></app-scroll>
  <div style="display: flex; align-items: center;">
    <div [ngStyle]="{'margin-left.%': 7}">
      <strong><h1>Common errors</h1></strong>
      <p>
        On the Internet in the various browsers,<br/> which ones and what are they for?<br/>
        Sometimes when we move between the different web pages
     
  <br/> we receive different error messages: 400, 401, 403, 404, 500, 503 and more...
        These errors can be disturbing and incomprehensible, <br/>so we decided to briefly explain about those errors, <br/>so that the next time you encounter a problem, <br/>you can understand where the damage is and what the error means.<br/> So if you received an error message, this article is for you:
      </p>
    </div>
    <img src="../../../assets/image/Computer troubleshooting-pana.png" [ngStyle]="{'width.%': 40, 'margin-right.px': 50}">
  </div>


  <div style="display: flex; align-items: center;">
     <img src="../../../assets/image/Computer troubleshooting-rafiki.png" [ngStyle]="{'width.%': 40, 'margin-right.px': 50}">
    <div [ngStyle]="{'margin-left.%': 7}">
       
      <strong><h1>A Summary</h1></strong>
      <p>
        On the Internet in the various browsers,<br/> which ones and what are they for?<br/>
        Sometimes when we move between the different web pages
     
  <br/> we receive different error messages: 400, 401, 403, 404, 500, 503 and more...
        These errors can be disturbing and incomprehensible, <br/>so we decided to briefly explain about those errors, <br/>so that the next time you encounter a problem, <br/>you can understand where the damage is and what the error means.<br/> So if you received an error message, this article is for you:
      </p>
    </div>
  
  </div>
  <h1 [ngStyle]="{'font-size': '250%', 'text-align': 'center'}">The Common:</h1>

  <div style="display: flex; align-items:center;">
    <img src="../../../assets/image/400 Error Bad Request-pana.png" [ngStyle]="{'width.%': 20, 'margin-right.px': 60}">
   <div [ngStyle]="{'margin-left.%': 7}">          
    <h3>-The URL entered is incorrect and therefore the server does not open it.<br/>
        It may be that the address does not exist,<br/> or that you as a surfer cannot open this address or that the address is simply listed with some spelling error.<br/>
        It is advisable to make sure once again that the address is entered correctly in terms of spelling, <br/>lowercase letters, italics, capital letters, etc.</h3>
   </div>
 
 </div>


  <div style="display: flex; align-items:center;">
    <img src="../../../assets/image/401 Error Unauthorized-cuate.png" [ngStyle]="{'width.%': 20, 'margin-right.px': 60}">
   <div [ngStyle]="{'margin-left.%': 7}">          
    <h3>-This error will appear when you try to enter a site that you are not authorized to enter.<br/> Apparently this site has access only to authorized persons and entering it is by typing the correct password. <br/>If you have the password and still did not succeed, try again.</h3>
   </div>
 
 </div>

 <div style="display: flex; align-items:center;">
    <img src="../../../assets/image/403 Error Forbidden-rafiki.png" [ngStyle]="{'width.%': 20, 'margin-right.px': 60}">
   <div [ngStyle]="{'margin-left.%': 7}">          
    <h3>-This error is similar to error #401, <br/>but in this error access is blocked because the site administrator has blocked the entry.<br/>
        Sometimes these will be government or insurance sites that are blocked to surfers.</h3>
   </div>
 
 </div>
 <div style="display: flex; align-items:center;">
    <img src="../../../assets/image/404 error with portals-pana.png" [ngStyle]="{'width.%': 20, 'margin-right.px': 60}">
   <div [ngStyle]="{'margin-left.%': 7}">          
    <h3>-This is the common error for the surfer.<br/> We all occasionally come across an error called "error cod 404",<br/> it's time to figure out what it is
        Its meaning and what it comes from.<br/>
        Error 404 which says that the web page we are trying to locate simply cannot be found,<br/> this is a case where our server is not
        Can find the requested page.</h3>
   </div>
 
 </div>

 <div style="display: flex; align-items:center;">
    <img src="../../../assets/image/Error 429-bro.png" [ngStyle]="{'width.%': 20, 'margin-right.px': 60}">
   <div [ngStyle]="{'margin-left.%': 7}">          
    <h3>-The most common cause of error 429 is when a user, <br/>bot or script tries to send too many requests to the servers. <br/>This is a means of preventing DDOS attacks on the site..</h3>
   </div>
 
 </div>
 <div style="display: flex; align-items:center;">
    <img src="../../../assets/image/500 Internal Server Error-amico.png" [ngStyle]="{'width.%': 20, 'margin-right.px': 60}">
   <div [ngStyle]="{'margin-left.%': 7}">          
    <h3>This error is usually caused by CGI. <br/> This is an internal error in which the script used by the process does not work properly.</h3>
   </div>
 
 </div>
 <div style="display: flex; align-items:center;">
    <img src="../../../assets/image/503 Error Service Unavailable-cuate.png" [ngStyle]="{'width.%': 20, 'margin-right.px': 60}">
   <div [ngStyle]="{'margin-left.%': 7}">          
    <h3>This error is caused when you have a problem with the provider or the system is busy,<br/>  sometimes when a large number of surfers
        trying to enter the same website at the same time, <br/> this error can appear and ask you to try the service again, later</h3>
   </div>
 
 </div>
 <div style="display: flex; align-items:center;">
    <img src="../../../assets/image/504 Error Gateway Timeout-bro.png" [ngStyle]="{'width.%': 20, 'margin-right.px': 60}">
   <div [ngStyle]="{'margin-left.%': 7}">          
    <h3>A 504 error occurs when a web page you are trying to load does not receive a response from the server that stores it in time.</h3>
   </div>
 
 </div>