
  
<br><br><br><br>
<section id="one-half" className="goblack">


    <div className="half-content">
        <div className="half__text">
            <br/><br/><br/><br/>
            <h1 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: 300%;">How did it all start</h1>
            <br/>
            <p ><strong>how did it all start?</strong> <br/>
It all started when a package I needed to pick up was stuck in the middle of nowhere.
I was looking for a friend to take the package for me, even for a fee.
After I couldn't find it I thought, why not set up such a website?<br/> In it, those who need a shipment collected for them will simply advertise there!
</p>
        </div>
       
    </div>
    <span><img src="../../../assets/image/Writer's block-rafiki.png" alt="" style="width: 80%;left: 0;"/></span>
</section>
<section id="one-half" className="goblack">
    <span><img src="../../../assets/image/Online friends-amico.png" alt=""/></span>
    <div className="half-content">
        <div className="half__text">
            <h1  style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: 300%;">How does it work</h1>
        
            <p >
            <strong>, how does it work?</strong><br/>
First of all, register on the site
In order to upload a request, you must go to the requests page and click on 'Add request', fill in the details of the request and add it.
When people respond to your request, you will receive an email update and you will be able to enter the profile of the user who responded to you, and get their details so you can contact them.
If you are already traveling, and want to make money on the way, go to the requests page and filter as needed.
You can respond to requests and if your offer suits them they will contact you!

            </p>
        </div>
     
    </div>

</section>
 
<section id="one-half" className="goblack">

<div className="half-content">
    <div className="half__text">
        <h1 >Stay connected!</h1>
        <p >
        Take advantage of our service ,We trust you! Of course you ask yourself what this means?!<br/>
Don't worry, very easy, Just make sure to upload requests, to choose messengers and delete your messages, you're done! Also make sure to answer friends suggestions And we can continue to operate the site. All rights reserved to ByTheWay.
<br/>For comments:<br/>

</p>
    </div>
   
</div>
<span><img src={get} alt=""/></span>
</section>