


<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let x = document.querySelector(".hamburger .fa-moon");
            if (typeof window !== 'undefined') {
           document.querySelector()
                   }
            x.addEventListener('click', () => {
                let y = document.querySelectorAll('.goblack');

                for (let i = 0; i < y.length; i += 1) {
                    y.item(i).classList.toggle("dark-mode");
                }
            });
        });
    </script>
</head>
<body  >
    <!-- <div>
        <section id="one" style="min-height: 100vh;
        top: 7%;
        background-image: linear-gradient(75deg, rgb(6 6 6 / 64%) 8%, transparent),
          url('../../../assets/image/onlineteach.png');
        background-position: center;
        background-size: cover;">
       <div class="content">
           <div class="text-content">
               <h1 class="white">Providing Special care For <strong>Your Pets!</strong></h1>
               <h4 class="blackish">We offer special services for special pets!</h4>
               <div class="two-button">
                   <button class="w-btn btn">View Our Services</button>
                   <button class="t-btn btn">Hire Us</button>
               </div>
           </div>
       </div>
   </section>
    
    <section id="one-half"  >
        <span class="img-size"><img src="../../../assets/image/inPlace.png" alt=""></span>
        <div class="half-content">
            <div class="half__text">
                <h1>About Us</h1>
                <p>Orci urna. In et augue ornare, tempor massa in, luctus sapien. Proin a diam et dui fermentum dolor
                    molestie vel id neque. Donec sed tempus enim, a congue risus. Pellen tesqu.</p>
            </div>
            <div class="half__boxes">
                <div class="box">
                    <span href="#"><i class="fas fa-paw logo"></i></span>
                    <h2>Our Mission</h2>
                    <p>In a diam et dui elit, orci urna vel id neque. Donec sed tempus enims.</p>
                </div>
                <div class="box">
                    <span href="#"><i class="fas fa-paw logo"></i></span>
                    <h2>Our Vision</h2>
                    <p>In a diam et dui elit, orci urna vel id neque. Donec sed tempus enims.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="two" style="display: block;">
        <div class="heading ">
            <h1>What We Do</h1>
            <p class="lightblack">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque,
                eaque ipsa quae ab
                illo inventore.</p>
        </div>
        <div class="container">
            <div class="info">
                <span><img src="../../../assets/image/Programmer.png" alt=""></span>
                <div class="info__text">
                    <h1>Donec sed teus enime</h1>
                    <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <h5 class="">READ MORE</h5>
                </div>
            </div>
            <div class="info">
                <span><img src="../../../assets/image/CallCenter.png" alt=""></span>
                <div class="info__text">
                    <h1>It's enim ad minim aute</h1>
                    <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <h5 class="">READ MORE</h5>
                </div>
            </div>
            <div class="info">
                <span><img src="../../../assets/image/WorkingAdvice.png" alt=""></span>
                <div class="info__text">
                    <h1>Ullamco laboris nisi uts</h1>
                    <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a mat-flat-button href="/CommonErrors" >  <h5 class="">READ MORE</h5>
               </a>   </div> 
            </div>
        </div>
    </section>
    <img src="../../../assets/image/background1.png" class="shapeRed"/>
    <section id="five" class="goblack" >
        <div class="dog__image"><img src="../../../assets/image/Workingremotely-bro.png" alt=""></div>
        <div class="dog__container">
            <div class="dog__boxes">
                <div class="dog__box">
                    <span><i class="fas fa-thumbs-up"></i></span>
                    <h4>Dog Sitting</h4>
                    <p>Lorem ante ipsum primis in faucibus orci luctus eted ultrices posuere.</p>
                </div>
                <div class="dog__box">
                    <span><i class="fas fa-paw"></i></span>
                    <h4>Dog Sitting</h4>
                    <p>Lorem ante ipsum primis in faucibus orci luctus eted ultrices posuere.</p>
                </div>
            </div>
            <div class="dog__boxes">
                <div class="dog__box">
                    <span><i class="fas fa-bullhorn"></i></span>
                    <h4>Dog Sitting</h4>
                    <p>Lorem ante ipsum primis in faucibus orci luctus eted ultrices posuere.</p>
                </div>
                <div class="dog__box">
                    <span><i class="fas fa-cut"></i></span>
                    <h4>Dog Sitting</h4>
                    <p>Lorem ante ipsum primis in faucibus orci luctus eted ultrices posuere.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="containe1r" style="display: block;margin-bottom:10%;">
        <section class="card__container">
          <div class="card__bx" style="--clr: #89ec5b">
            <div class="card__data">
              <div class="card__icon">
                <i class="fa-solid fa-paintbrush"></i>
              </div>
              <div class="card__content">
                <h3>Designing</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
               
              </div>
            </div>
          </div>
          <div class="card__bx" style="--clr: #eb5ae5">
            <div class="card__data">
              <div class="card__icon">
                <i class="fa-sharp fa-solid fa-code"></i>
              </div>
              <div class="card__content">
                <h3>Develoment</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              
              </div>
            </div>
          </div>
          <div class="card__bx" style="--clr: #5b98eb">
            <div class="card__data">
              <div class="card__icon">
                <i class="fa-brands fa-searchengin"></i>
              </div>
              <div class="card__content">
                <h3>SEO</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
               
              </div>
            </div>
          </div>
      
        </section>
      
      </section>
    <section id="six">
        <h5>PET LOVERS</h5>
        <h1>Our Team Is Filled With Highly Dedicated Pet Lovers</h1>

        <button class="btn w-btn">Read More</button>

    </section>
</div>
    <script src="jquery-3.6.0.min.js"></script>
    <script src="script.js"></script> -->
    <!-- <script>
        let x = document.querySelector(" .night")
        x.addEventListener('click', () => {
            let y = document.querySelectorAll('.goblack')
            for (let i = 0; i < y.length; i += 1) {

                y.item(i).classList.toggle("dark-mode");
            }
        })
    </script> -->








 

<br/>

    <section class="hero" style="top:15%;height:700px;">
        <div class="hero-content">
            <h1 class="hero-title"> When you say oops,<br/><br/> it's time to Develooops</h1>
            <p class="hero-paragraph">
                Our site is your destination for collecting and sharing questions and answers on various programming topics. Through our platform, you can find solutions to existing questions and ask new ones within our vibrant community.
                Its innovation is receiving an answer immediately in the question conversation from our AI.
            <div class="hero-options">
                <a href="#" class="btn btn-developers">For developers</a>
                <div class="option-button">
                    <button class="option-link btn btn-orange" (click)="moveAbout()">
                       About
                    </button>
                </div>
            </div>
        </div>
    </section>
    
    
    <section class="for-developers">
       <div class="container">
           <div class="section-head">
               <h2 class="section-title">For developers, by developers
               </h2>
               <div class="section-line"></div>
               <p class="section-description">Develooops is an <a href="#">open community</a> for anyone that codes. We help you get answers to your toughest coding questions, share knowledge with your coworkers in private, and find your next dream job.
               </p>
           </div>
           <div class="options">
               <div class="option">
                   <div class="option-icon">
                       <img src="https://cdn.sstatic.net/Img/home/public-qa.svg?v=d82acaa7df9f" alt="Public Q & A">
                   </div>
                  
                    <h1>  Sign up</h1>   
                   <div class="option-description">
                       Get answers to more than 16.5 million questions and give back by sharing your knowledge with others.
                  Sign up for an account.
                   </div>
                   <div class="option-button">
                       <button class="option-link btn btn-dark-blue">
                        Sign up
                       </button>
                   </div>
               </div>
               <div class="option">
                   <div class="option-icon">
                       <img src="https://cdn.sstatic.net/Img/home/private-qa.svg?v=2c1de180b6d7" alt="Private Q & A">
                   </div>
                   <div class="option-title">
                       Try it
                   </div>
                   <div class="option-description">
                       Level up with Stack Overflow while you work. Share knowledge privately with your coworkers using our flagship Q&A engine.
                   </div>
                   <div class="option-button">
                       <button class="option-link btn btn-orange">
                           Try it
                       </button>
                   </div>
               </div>
               <div class="option">
                   <div class="option-icon">
                       <img src="https://cdn.sstatic.net/Img/home/jobs.svg?v=931d6c0863ee" alt="Browse jobs
    ">
                   </div>
                   <div class="option-title">
                    Common errors
                   </div>
                   <div class="option-description">
                    yes if you are a programmer,
                    There's no way you haven't encountered it
                    in these errors.
                    Here you can understand the nature of the error
    
    
                   </div>
                   <div class="option-button">
                    <button class="option-link btn btn-dark-blue" (click)="moveCommonError()">
                        show more
                    </button>
                </div>
               </div>
           </div>
       </div>
    </section>
    
    <section class="for-businesses">
        <div class="container">
            <div class="section-head">
                <h2 class="section-title" style="left:60%">    Instead of saying oops
                    Go to Develooops</h2>
                <div class="section-line"></div>
                <p class="section-description">Come join the developer community.
                    Here you can ask questions
                    and get answers about them,
                    Not only from authors but also from AI.</p>
            </div>
    
    
    
            <div class="options">
                <div class="option">
                    <div class="option-icon">
                        <img src="https://cdn.sstatic.net/Img/home/private-questions.svg?v=a4f1cfb08f7e" alt="Private Q&A">
                    </div>
                    <div class="option-description">
                        Quickly find and share internal knowledge with <a href="#" class="option-link">Private Q&A</a>
                    </div>
                </div>
                <div class="option">
                    <div class="option-icon">
                        <img src="https://cdn.sstatic.net/Img/home/find-candidate.svg?v=9099aa106ad3" alt="Talent solutions">
                    </div>
                    <div class="option-description">
                        Find the category
                        which you need for the question
                        That's where you'll know how to answer <a href="#" class="option-link">Talent solutions</a>
    
    
                    </div>
                </div>
                <div class="option">
                    <div class="option-icon">
                        <img src="https://cdn.sstatic.net/Img/home/accelerate.svg?v=9d4c2786ff02" alt=" Advertising platform">
                    </div>
                    <div class="option-description">
                        Get an answer at maximum speed from our AI <a href="#" class="option-link">Advertising platform</a>
                    </div>
                </div>
            </div>
    
    
        </div>
    </section>
    
    
    <section class="teams">
        <div class="container">
            <div class="teams-head">
                <h2 class="teams-title">Unlock siloed knowledge with Stack Overflow for Teams
                </h2>
                <p class="teams-description">Wikis, chat messages, or formal documentation for knowledge management aren’t effective. Our question and answer format is a proven approach for accessing the right information in less time.
                </p>
                <div class="teams-details">
                    <a href="#" class="btn btn-orange">Learn More</a>
                </div>
            </div>
    
            <div class="teams-plan">
                <video src="../../../assets/image/movie.mp4"  style="width: 100%;left:0" autoplay controls muted></video>
            </div>
    
    
            <div class="teams-footer">
                <a class="teams-footer-item">
                    <img src="https://cdn.sstatic.net/Img/product/teams/endorsements/g2.svg?v=670bf9279910" alt="">
                    <div class="teams-footer-text"><strong>Leader</strong> <span>Summer 2020</span> </div>
                </a>
                <a class="teams-footer-item">
                    <img src="https://cdn.sstatic.net/Img/product/teams/endorsements/g2.svg?v=670bf9279910" alt="">
                    <div class="teams-footer-text"><strong>Users Love Us</strong> </div>
                </a>
                <a class="teams-footer-item">
                    <img src="https://cdn.sstatic.net/Img/product/teams/endorsements/fastco.svg?v=5ebc802a76c7" alt="">
                    <div class="teams-footer-text"><strong>Most Innovative Companies</strong> <span>2019</span> </div>
                </a>
            </div>
    
    
        </div>
    </section>
    
    <section class="hire">
        <div class="container">
            <div class="hire-content">
                <div class="hire-item">
                    <img src="https://cdn.sstatic.net/Img/home/find-candidate.svg?v=9099aa106ad3" alt="" class="hire-icon">
                    <h4 class="hire-item-title">Hire your technical talent</h4>
                    <p class="hire-item-description">We help expand your technical hiring strategy to promote your employer brand and highlight relevant open roles to our community of over 100 million developers and technologists.</p>
                    <a href="#" class="btn btn-orange">Stack Overflow Talent</a>
                </div>
                <div class="hire-item">
                    <img src="https://cdn.sstatic.net/Img/home/accelerate.svg?v=9d4c2786ff02" alt="" class="hire-icon">
                    <h4 class="hire-item-title">Reach developers worldwide
                    </h4>
                    <p class="hire-item-description">Use the world’s largest resource for people who code to help you increase awareness and showcase your product or service across Stack Overflow’s network of Q&A sites. </p>
                    <a href="#" class="btn btn-orange">Stack Overflow Advertising</a>
                </div>
            </div>
        </div>
    </section>
    
    <section class="questions">
        <div class="container">
           <div class="questions-content">
               <div class="questions-header">
                   <h3 class="question-title">Questions are everywhere, answers are on Stack Overflow</h3>
               </div>
               <div class="questions-body">
                   <div class="questions-body-items">
                       <div class="questions-body-item" data-id="0">
                           <img src="https://cdn.sstatic.net/Img/home/ask-a-question.svg?v=f4f2050b0297" alt="" class="question-item-icon">
                           <div class="question-item-text">Ask a question</div>
                           <div class="question-arrow-right"></div>
                       </div>
                       <div class="questions-body-item"  data-id="1">
                           <img src="https://cdn.sstatic.net/Img/home/votes.svg?v=748a8f48a8e2" alt="" class="question-item-icon">
                           <div class="question-item-text">Vote on everything</div>
                           <div class="question-arrow-right"></div>
                       </div >
                       <div class="questions-body-item"  data-id="2">
                           <img src="https://cdn.sstatic.net/Img/home/answer.svg?v=4cd8048a676c" alt="" class="question-item-icon">
                           <div class="question-item-text">Answer questions</div>
                           <div class="question-arrow-right"></div>
                       </div>
                   </div>
                   <div class="questions-body-item-content">
                       <img src="https://cdn.sstatic.net/Img/home/illo-feats-vote.svg?v=9d2eb0efdc17" alt="" class="question-item-content-img">
                       <h4 class="question-item-content-text">
                           Accept the answer which solved your problem to let others benefit from the valuable information.
                       </h4>
                       <a href="#" class="btn btn-orange question-item-content-btn">Create an account</a>
                   </div>
                   <div class="questions-body-items">
                       <div class="questions-body-item"  data-id="3">
                           <img src="https://cdn.sstatic.net/Img/home/tags.svg?v=913379eb09eb" alt="" class="question-item-icon">
                           <div class="question-item-text">Tag your question</div>
                           <div class="question-arrow-left"></div>
                       </div>
                       <div class="questions-body-item"  data-id="4">
                           <img src="https://cdn.sstatic.net/Img/home/accept.svg?v=27d5be078970" alt="" class="question-item-icon">
                           <div class="question-item-text">Accept a answer</div>
                           <div class="question-arrow-left"></div>
                       </div>
                       <div class="questions-body-item"  data-id="5">
                           <img src="https://cdn.sstatic.net/Img/home/get-recognized.svg?v=3b339d9aa10c" alt="" class="question-item-icon">
                           <div class="question-item-text">Get recognized</div>
                           <div class="question-arrow-left"></div>
                       </div>
                   </div>
               </div>
               <div class="questions-footer">
                   <h3 class="question-title">Learn and grow with Stack Overflow</h3>
                   <div class="questions-grid">
                       <div class="questions-grid-item">
                           <div class="grid-item-img">
                               <img src="https://cdn.sstatic.net/Img/home/developer.svg?v=b930de7967a7" alt="">
                           </div>
                           <h4 class="grid-item-title">Write the script of the future</h4>
                           <p class="grid-item-description">Get your coding questions answered to learn, build, and level up whether you’re beginning with
                               <a href="#">JavaScript</a> or a <a href="#">React</a> professional.
                           </p>
                       </div>
                       <div class="questions-grid-item">
                           <div class="grid-item-img">
                               <img src="https://cdn.sstatic.net/Img/home/open-source.svg?v=847b604fd2ab" alt="">
                           </div>
                           <h4 class="grid-item-title">Support open source
                           </h4>
                           <p class="grid-item-description">Reach users of your project by following tags, answering newcomer questions, and empowering experts in the community.
                               <a href="#"> Read the curl project creator’s story.</a>
    
    
                           </p>
                       </div>
                       <div class="questions-grid-item">
                           <div class="grid-item-img">
                               <img src="https://cdn.sstatic.net/Img/home/advocate.svg?v=4b03cfb93502" alt="">
                           </div>
                           <h4 class="grid-item-title">Acquire and share knowledge
                           </h4>
                           <p class="grid-item-description">Answer questions and <a href="#">gain insights</a> from an audience of developers using your technology on Stack Overflow.
                           </p>
                       </div>
                       <div class="questions-grid-item">
                           <div class="grid-item-img">
                               <img src="https://cdn.sstatic.net/Img/home/career-switcher.svg?v=a41416ff19df" alt="" >
                           </div>
                           <h4 class="grid-item-title">Find career opportunities
                           </h4>
                           <p class="grid-item-description">Create a profile that shows off your expertise and credentials to help you make your next move. Start your
                               <a href="#">Developer Story</a>.
                           </p>
                       </div>
                   </div>
               </div>
           </div>
        </div>
    </section>
    
    <section class="jobs">
        <div class="container">
    
            <div class="jobs-content">
                <h3 class="jobs-title">Looking for a job?</h3>
                <div class="jobs-body">
                        <div class="jobs-items">
                            <div class="column">
                                <div class="jobs-item">
                                    <img src="https://cdn.sstatic.net/Img/home/jobs-tech.svg?v=42f011c01763" alt="" class="jobs-item-img">
                                    <p class="jobs-item-description">Browse jobs by technology</p>
                                </div>
                                <div class="jobs-item">
                                    <img src="https://cdn.sstatic.net/Img/home/jobs-salary.svg?v=401840ff8931" alt="" class="jobs-item-img">
                                    <p class="jobs-item-description">Browse jobs by salary</p>
                                </div>
                            </div>
                            <div class="column">
                                <div class="jobs-item">
                                    <img src="https://cdn.sstatic.net/Img/home/jobs-visa.svg?v=1f3acc6dc772" alt="" class="jobs-item-img">
                                    <p class="jobs-item-description">Browse jobs by visa sponsorship</p>
                                </div>
                                <div class="jobs-item">
                                    <img src="https://cdn.sstatic.net/Img/home/jobs-remote.svg?v=a4b4d1b5a80c" alt="" class="jobs-item-img">
                                    <p class="jobs-item-description">Browse remote-friendly jobs</p>
                                </div>
                            </div>
                        </div>
                        <div class="jobs-btn">
                            <div class="btn btn-orange jobs-btn">View all jobs</div>
                        </div>
                </div>
            </div>
        </div>
    </section>
    













 </body> 

 </html>
