<div style="position: relative; width: 100%; height: 300px;margin-bottom:10% ;">
    <img [src]="getUserImageFromSessionStorage()" alt="Profile Image" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 200px; height: 200px; object-fit: cover; border-radius: 50%; object-position: 0px 0px;top:100%;z-index: 18888;border-color: azure;border-width: 0.5;">
    <img [src]="getUserImageFromSessionStorage()" alt="Background Image" style="position: absolute; left: 50%; transform: translateX(-50%); width: 100%; height: 100%; object-fit: cover; object-position: 0px 0px;" >
</div>

 


  
  <h1 style="position: absolute; left: 50%; transform: translateX(-50%);">Rachel</h1>
  <div   style="width: 20px;height:20px;position: absolute; left: 7%; transform: translateX(-10%);"   >Less</div>
  <div class="percentage"  style="width: 20px;height:20px;position: absolute; left: 10%; transform: translateX(-10%);background-color: #ACBAAF;"   ></div>
  <div class="percentage"  style="width: 20px;height:20px;position: absolute; left: 12%; transform: translateX(-11%);background-color: #9FF99F;"   ></div>
  <div class="percentage"  style="width: 20px;height:20px;position: absolute; left: 14%; transform: translateX(-12%);background-color: #0e3303;"   ></div>
  <div   style="width: 20px;height:20px;position: absolute; left: 16%; transform: translateX(-10%);"   >More</div>
<div style="  padding: 8%; padding-top: 7%;">
  <div class="activity-graph">
  
    <div class="body">
     
      <div  *ngFor="let activity of activities" >
 
    
        <div class="percentage" [ngStyle]="getPercentageStyle(activity.percentage)" style="width: 20px;height:20px;"   [title]="' in' + activity.day +' '+activity.month +' '+ 'done'+ activity.percentage + ' asking or answer'"></div>
      </div>
    </div>
  </div>
</div>


