<head>
	<script src="https://kit.fontawesome.com/3b161c540c.js" crossorigin="anonymous"></script>
</head>

<body>
	<footer class="footer">
		<div class="container row">
			<div class="footer-col">
				<h4 >company</h4>
				<ul>
					<li><a href="#">about us</a></li>
					<li><a href="#">our services</a></li>
					<li><a href="#">privacy policy</a></li>
					<li><a href="#">visit website</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h4 >get help</h4>
				<ul>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">shipping</a></li>
					<li><a href="#">returns</a></li>
					<li><a href="#">order status</a></li>
					<li><a href="#">payment options</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h4>online shop</h4>
				<ul>
					<li><a href="#">download</a></li>
					<li><a href="#">changelog</a></li>
					<li><a href="#">github</a></li>
					<li><a href="#">all version</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h4 > write us!</h4>
				
				<div class="social-links">
                <strong> <h1 >DevelOopss/></h1></strong> 
				<p style="color: white;">Dvori456&#64;gmail.com</p>
				<footer style="color: white;">&copy; Copyright 2024 DvoriProgrammer</footer>
				</div>
			</div>
			
		</div>
		
	</footer>

</body>
